---
layout: default
changefreq: weekly
priority: 1
meta_description: "This is the beginning of something beautiful"
date: Last Modified
---
<h1>Hello!</h1>
<ul class="posts-list">
{%- for post in collections.posts -%}
  <li><a href="{{ post.url | url }}" class="posts-list__link">{{ post.data.title }}</a> <span class="posts-list__date">{{ post.data.date | dateDisplay }}</span></li>
{%- endfor -%}
</ul>