---
layout: default
changefreq: weekly
priority: 1
meta_description: "This is the beginning of something beautiful"
date: Last Modified
---
{# <ul class="posts-list">
{%- for post in collections.posts -%}
  <li><img src="{{ site.path.img }}{{ post.data.code }}/preview.png"></li>
  <li><a href="{{ post.url | url }}" class="posts-list__link">{{ post.data.title }}</a> <span class="posts-list__date">{{ post.data.date | dateDisplay }}</span></li>
{%- endfor -%}
</ul> #}

<div class="container">
  <div class="work-wrap">
    {%- for post in collections.posts -%}
    <div class="work{% if post.data.is_short %} short{% endif %}">
      <a href="{{ post.url }}" class="work__link">
        <div class="work__preview"><img src="{{ site.path.img }}{{ post.data.code }}/preview.png" alt="{{ post.data.title }} preview"></div>
        <div class="work__title">{{ post.data.title }}</div>
        <div class="work__type">{{ post.data.tags }}</div>
      </a>
    </div>
    {%- endfor -%}
  </div>
</div>