// .mainContent {
//   // margin-top: 8rem;
// }

.container {
  // background-color: $mask;
  margin: 0 auto;
  padding: 1em 2em;
  
  @include desktop {
    // padding-left: 0;
    // padding-right: 0;
    max-width: $contentWidth-normal;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include fullhd {
    max-width: $contentWidth-fullhd;
  }
}