.mainContent {
  margin-top: 8rem;
}

.container {
  //background-color: $mask;
  max-width: $contentWidth-normal;
  margin: 0 auto;
  padding: 1em 2em;

  @include desktop {
    padding-left: 0;
    padding-right: 0;
    //max-width: $contentWidth-widescreen;
  }

  @include fullhd {
    max-width: $contentWidth-fullhd;
  }
}

.posts-list {
  &__date {
    margin-left: 5px;
    font-size: .8rem;
  }
}