.work-wrap {
  
  @include tablet {
    display: grid;
    grid-gap: 10%;
    grid-template-columns: repeat( auto-fill, minmax( 40%, 1fr ) );
    grid-auto-rows: 320px;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    row-gap: 50px;
  }

  @include desktop {
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
  }
}

$work : "work";

.#{$work} {
  text-align: center;
  
  @include mobile {
    margin-bottom: 55px;
  }

  @include tablet {
    grid-row-end: span 2;

    &.short
    {
      grid-row-end: span 1;

      .work__preview {
        height: 210px;
      }
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__link {
    display: block;
    color: $bodyText;
    text-decoration: none;
    
    &:hover {
      text-decoration: none;

      .#{$work}__preview img {
        transform: scale(1.5);
      }

      
    }
  }

  &__preview {
    overflow: hidden;

    @include tablet {
      height: 560px;
    }

    img {
      transition: transform 7s cubic-bezier(0, 0.6, 0.45, 1);
    }
  }

  &__title {
    margin-top: 1rem;
    font-family: $titleType;
    font-size: 1.7rem;
    padding-left:  1.5rem;
    padding-right: 1.5rem;
    line-height: 1.9rem;
    transition: color 300ms ease-in-out;

    .#{$work}__link:hover & {
      color: darken($color: $globalLinkHover, $amount: 20);
    }
     
  }

  &__type {
    font-size: .8rem;
    font-weight: 300;
  }
} // work