<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if renderData.title %}
  <title>{{ renderData.title }}</title>
  {% else %}
  <title>{{title}}{% if page.url == '/' %}{{ site.name }}{% endif %}</title>    
  {% endif %}
  {% if meta_description %}
  <meta name="description" content="{{ meta_description }}">    
  {% endif %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

  <link rel="stylesheet" href="/assets/main.css">

  {# <link rel="icon" type="image/png" href="{{ site.images.favicon }}"> #}
  <script>document.documentElement.className="js"</script>

  {# Google Analytics 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153847073-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-153847073-1');
  </script> #}
  <link href="https://fonts.googleapis.com/css?family=Carter+One|Open+Sans:300,400&display=swap" rel="stylesheet">
</head>
<body{% if body_id %} id="{{ body_id }}"{% endif %}>
  {# include header #}
  {% include "../components/header.njk" %}
  <main class="mainContent" data-barba="wrapper">
    <div class="{% if tags %}{% if "posts" in tags %} post{% endif %}{% endif %}" data-barba="container">
      {{ content | safe }}
    </div>
  </main>

  {# include footer #}
  {% include "../components/footer.njk" %}

  <div class="transition">
    <div id="transition__plate" class="transition__plate"></div>
    <div id="transition__bg" class="transition__bg"></div>
  </div>
  <script src='/assets/main.js'></script>
</body>
</html>

