---
layout: default
---
<div class="hero bannerParallax" style="background-image:url({{ site.path.img }}/{{ code }}/{{ heroImg }})">
  <img src="{{ site.path.img }}/{{ code }}/{{ heroImg }}">
</div>
<div class="post-wrap">
  <div class="container">
    <header class="post-header{% if not projectIntro %} post-header--noIntro{% endif %}">
      <div class="post-header__title">
        <h1>{{ title }}</h1>
        {% if projectType %}
        <p>- {{ projectType }}</p>
        {% endif %}
      </div>
      <div class="post-header__intro">
      {% if projectIntro %}
        <p>{{ projectIntro }}</p>        
      {% endif %}
      </div>
    </header>
    <div class="post-content">
      {{ content | safe }}
    </div>
  </div>
</div>