---
layout: default
---

<div class="hero bannerParallax" style="background-image:url({{ site.path.img | url }}/{{ code }}/{{ heroImg }})">
  <img src="{{ site.path.img | url }}/{{ code }}/{{ heroImg }}">
</div>
<div class="post-wrap">
  <div class="container">
    <header class="post-header{% if not projectIntro %} post-header--noIntro{% endif %}">
      <div class="post-header-titlewrap">
        <h1 class="post-header__title">{{ title }}</h1>
        {% if projectType %}
        <p class="post-header__type">{{ projectType }}</p>
        {% endif %}
      </div>
      {% if projectIntro %}
      <div class="post-header-introwrap">
        <p class="post-header__intro">{{ projectIntro }}</p>        
      </div>
      {% endif %}
    </header>
    <div class="post-content">
      {{ content | safe }}
    </div>
  </div>
</div>