* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

figure {
  margin: 1.6rem 0 4.5rem;

  &.noMarginBottom {
    margin-bottom: 0;
  }

  img {
    border: 1px solid gray('300');
  }
}

ol, ul {
  padding-left: 0;
}

li {
  margin-bottom: 0.4rem;
}