//_____________________________________________________
// Names
//_____________________________________________________
$mainHeader: "mainHeader";

//_____________________________________________________
// Sizes 
//_____________________________________________________
$headerSizes: (
  "tablet": 20rem,
  "widescreen": 23rem
);
//$maxWidth: 890px;
$contentWidth-normal: 710px; //680px;
$contentWidth-widescreen: 710px;
$contentWidth-fullhd: 780px;

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px; 
// 960px container + 4rem
$desktop: 960px + (2 * $gap);
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap);
$widescreen-enabled: true;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap);
$fullhd-enabled: true;

//_____________________________________________________
// Colours
//_____________________________________________________
$white:    #fff;
$gray-ultralite: #F8F8F8;
$gray-50:  #f5f5f5;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$clayGray: rgb(177, 174, 171);
$blackAndBlue: rgb(36, 38, 39);

$grays: ();
$grays: map-merge((
  "50":  $gray-50,
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
  "intro": $gray-ultralite,
), $grays);

$blue:      #2a418f;
$mondayBlue:#3b8aff;
$lightBlue: #f0f8ff;
$darkBlue:  #4c5761;
$someBlue:  #5a7cea;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #fff0f0;
$red:       #dc3545;
$orange:    #fd7e14;
$yellow:    #ffc107;
$green:     #28a745;
$teal:      #20c997;
$cyan:      #17a2b8;
$maskRed:   rgba(#FFB7B7, .5);
$mask:      rgba($black, .2);

$colors: ();
$colors: map-merge((
  "maskRed":    $maskRed,
  "mondayBlue": $mondayBlue,
  "blue":       $blue,
  "darkBlue":   $darkBlue,
  "lightBlue":  $lightBlue,
  "someBlue":   $someBlue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "black":      $black,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$bodyBg:        $blackAndBlue;
$bodyText:      $clayGray;

$headerBg:      darken($bodyBg, 2%); //$darkBlue;
$headerShadow:  $gray-900;

$mainNavLink:   $bodyText;
$mainNavHoverBg:  lighten($headerBg, 10%);

$link: $mondayBlue;

$borderColour:  $gray-700;